[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;
Actions=renamePDFtotitle;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false

[Desktop Action renamePDFtotitle]
Icon=edit-rename
Name=Rename PDF file to its title
Name[nl]=Bestandsnaam wijzigen naar titel
Exec=bash -c 'FILE="%f"; TITLE=$(pdfinfo "$FILE" | grep "Title:" | sed "s/Title:\\s*//"); if [ -n "$TITLE" ]; then DIR=$(dirname "$FILE"); NEW_NAME="$DIR/$TITLE.pdf"; mv "$FILE" "$NEW_NAME"; else kdialog --error "No title found in PDF metadata"; fi'
